{% assign d=page.date | date_to_xmlschema | split: 'T' | first %}
{% assign p=site.data.posts[d] %}
{{ p.text }}
<div id="disqus_thread" class="np"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES * * */
// Required: on line below, replace text in quotes with your forum shortname
var disqus_shortname = 'kristijonasurbaitisblog';
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% for h in p.hrefs %}
[{{h[0]}}]: {{h[1]}}
{% endfor %}
